body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5f8e1;
    color: #333;
}

header {
    background-color: #24ae1a;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    background-image: url('img/457104428_122236904282003803_2434178355031093796_n.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #ff5733;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}

#about, #programs, #gallery, #contact {
    padding: 60px 20px;
    text-align: center;
}

.program {
    margin-bottom: 40px;
}

.program img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.gallery-grid {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 200px;
    height: 200px;
}

footer {
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

